[Unit]
After=network.target

[Service]
User=artifactory
Group=artifactory
Restart=on-failure
RestartSec=30s
Type=simple
ExecStart=/usr/bin/artifactory --config=/etc/artifactory/config.yaml
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=default.target
